@import url(https://fonts.googleapis.com/css?family=Roboto:500,700);

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	margin: 20px;
	color: #435757;
	background: linear-gradient(-20deg, #d0b782 20%, #a0cecf 80%);
	font: 500 1.2em/1.2 'Roboto', sans-serif;
}

.container {
	max-width: 450px;
	margin: 0 auto;
	border-top: 5px solid #435757;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	user-select: none;
}

h1 {
	margin: 0;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	font-size: 1.8em;
	text-align: center;
}

.items {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

h2 {
	position: relative;
	margin: 0;
	padding: 10px 0;
	font-size: 1.2em;
}

h2::before {
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: -20px;
	width: 5px;
	background-color: #435757;
}

h2::after {
	display: block;
	float: right;
	font-weight: normal;
}

.done {
	order: 1;
}

.undone {
	order: 3;
}

/* hide inputs offscreen, but at the same vertical positions as the correpsonding labels, so that tabbing scrolls the viewport as expected */
input {
	display: block;
	height: 53px;
	margin: 0 0 -53px -9999px;
	order: 4;
	outline: none;
}

input:checked {
	order: 2;
}

label {
	display: block;
	position: relative;
	padding: 15px 0 15px 45px;
	border-top: 1px dashed #fff;
	order: 4;
	cursor: pointer;
	animation: undone 0.5s;
}

label::before {
	display: block;
	position: absolute;
	top: 11px;
	left: 10px;
}

label:hover,
input:focus + label {
	background-color: rgba(255, 255, 255, 0.2);
}

input:checked + label {
	order: 2;
	animation: done 0.5s;
}

@keyframes done {
	0% {
		opacity: 0;
		background-color: rgba(255, 255, 255, 0.4);
		transform: translateY(20px);
	}

	50% {
		opacity: 1;
		background-color: rgba(255, 255, 255, 0.4);
	}
}

@keyframes undone {
	0% {
		opacity: 0;
		background-color: rgba(255, 255, 255, 0.4);
		transform: translateY(-20px);
	}

	50% {
		opacity: 1;
		background-color: rgba(255, 255, 255, 0.4);
	}
}

button {
	background: none;
	border: 0px;
	color: #888;
	font-size: 15px;
	font-weight: bold;
	width: 60px;
	margin: 15px 0 0;
	cursor: pointer;
}

button:hover {
	color: #43575e;
}

input[type='text'] {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	border: 1px solid #ddd;
	background: #bfbf9e;
	border-radius: 6px;
	color: #888;
}

input[type='text']:focus {
	color: #333;
}

label[for='new-item'] {
	display: grid;
	justify-content: center;
	padding: 15px 0px 15px 0px;
	margin: 20px 0 20px;
}

input#new-item {
	float: left;
	width: 50%;
	margin-left: 25%;
}

h3 {
	text-align: center;
}

.add-item {
	display: flex;
	align-items: center;
}

.button {
	position: relative;
	width: 35px;
	height: 35px;
	cursor: pointer;
	left: 75%;
}

.button:after {
	content: '';
	position: absolute;
	transform: translate(-50%, -50%);
	height: 4px;
	width: 50%;
	background: #095776;
	top: 50%;
	left: 50%;
}

.button:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #095776;
	height: 50%;
	width: 4px;
}

.button:hover:before,
.button:hover:after {
	background: #fff;
	transition: 0.2s;
}

.button:hover {
	background-color: #095776;
	transition: 0.2s;
}
